:root {
    --green: #5ea853;
    --lightGreen: #748e70;
    --grey: #7c827b;
    --backgroudWhite: whitesmoke;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--lightGreen);
}

.backgound {
    background-color: var(--backgroudWhite);
}

.title {
    color: var(--lightGreen);
    display: inline;
    margin: 0.5rem 1rem;
    font-size: xx-large;
    position: absolute;
}

.subtitle {
    color: var(--lightGreen);
    font-size: xx-large;
    text-align: center;
    margin-bottom: 2rem;
}

.subsubtitle {
    color: #6b9b64;
    font-size: x-large;
    text-align: center;
}

.logo {
    margin: 1rem;
}

.navbar-options {
    display: block;
    color: var(--backgroudWhite);
    text-align: center;
    font-size: large;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--green);
    display: flex;
    justify-content: center;
}

.navbar-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar1 a {display: none;}
    .navbar1 .navbar-icon {
      float: right;
      display: block;
      margin-left: auto;
    }
  }
  
@media screen and (max-width: 600px) {
    .navbar1.responsive {
        position: relative;
        flex-direction: column;
    }
    .navbar1.responsive .navbar-icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar1.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar1.responsive .index-icon {
        color: var(--green);
    }
}

.footer {
    background: #E8EEF4;
	color: var(--grey);
	padding: 5em 5em 3em 5em;
	text-align: center;
    font-size: large;
}

.footer-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.copyright {
    font-size: 1em;
	line-height: 1em;
    color: var(--green);
}

.current-page {
    background-color: var(--backgroudWhite);
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 8px;
}

.wrapper {
    text-align: justify;
    font-size: large;
    color: var(--grey);
    margin: 5rem 15rem 10rem 15rem;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        margin: 3rem;
    }
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.contact {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: large;
    color: var(--grey);
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.card-background {
    display: flex;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa {
    margin: 1rem;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }

.fa-facebook {
color: var(--green);
}

.fa-instagram {
    color: var(--green);
  }

.button {
    background-color: var(--green);
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    float: right;
    padding: 1rem 2.5rem;
    font-size: large;
    border-radius: 8px;
    text-decoration: none;
}

.button-green {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
}

.button-user {
    display: inline-flex;
    justify-content: right;
    gap: 1rem;
    float: right;
}

@media only screen and (max-width: 600px) {
    .button-user {
        display: none;
    }
}

.hov:hover {
    color: var(--grey);
}

.fa-user {
    color: var(--green);
    float: right;
    cursor: pointer;
    border: none;
}

.form {
    width: 70%;
}

.form:invalid {
    border: 2px red;
}

a {
    color: var(--green);
}

.detail-image-position {
    width: 50rem;
    float: right;
}

@media only screen and (max-width: 600px) {
    .detail-image-position {
        width: 100%;
    }
}

.review-width {
    max-width: 100%;
    word-break: break-all;
    white-space: normal;
}

.link-decoration {
    text-decoration: none;
    color: var(--grey);
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}

@media only screen and (min-width: 601px) {
    .mobile-login {
        display: none;
    }
}

.mobile-submit {
    overflow: hidden;
}

.filter {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
